
/* Statics  Area css
======================================================================= */

.single-data{
	i{
		float: left;
		margin-right: 25px;
		font-size: 18px;
	}
	p{
		font-weight: 300;

	}
	.ti-paint-bucket{
		color: $circle1;
	}
	.ti-check-box{
		color: $circle2;
	}
	.ti-ruler-pencil{
		color: $circle3;
	}
}
}

